#totalMembersB {
    background-color: white;
    padding: 40px 0;
}

.count-numberB {
    display: block;
    font-size: 3rem;
    color: #e31c25;
    font-weight: bold;
}

.count-labelB {
    font-size: 1.5rem;
    color: black;
}

.red-highlight {
    color: #e31c25;
}

.display-4B {
    color: black;
}