.bg-black {
    background-color: black;
}

.bg-red {
    background-color: #e31c25;
}

.icon-img {
    width: 80px;
    height: 80px;
    margin-bottom: 75px;
    margin-right: 20px;
}

.red-highlight {
    color: #e31c25;
}

h3 {
    font-family: "Montserrat-bold";
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-family: "Montserrat-light";
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    color: white;
    margin: 0 5% 0;
}