.ml-2 {
    margin-left: 20px;
}

.navbar-dark.bg-black {
    background-color: #000;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.btn-outline-danger {
    color: #ffffff;
    border-color: #e31c25;
}

.btn-outline-danger:hover {
    background-color: #e31c25;
    border-color: #ff3030;
}

.btn-register {
    margin-left: 8px;
}