#totalMembers {
    background-color: #e31c25;
    padding: 50px 0;
}

.count-number {
    display: block;
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

.count-label {
    font-size: 1.5rem;
    color: white;
}

.lead {
    color: white
}

.display-4A {
    color: white;
}

.white-highlight {
    color: black;
}